<div id="<%= dom_id resume %>">
    <p>
        <%= resume.name %>
    </p>

    <p>
        <%= resume.email %>
    </p>

    <p>
        <%= resume.phone %>
    </p>

    <p>
        <%= resume.summary %>
    </p>

</div>