<p style="color: green"><%= notice %></p>

<%= render @resume %>

<div>
    <%= link_to "Edit this resume", edit_resume_path(@resume), class: "link" %> |
    <%= link_to "Back to resumes", pages_dashboard_path, class: "link" %>

    <%= button_to "Destroy this resume", @resume, method: :delete %>
</div>

<%= render "jobs/jobs", resume: @resume%>